<br>
<div class="container"  align="center">
<h2><b>Profile</b></h2>
<hr>
<table style="padding:30px" class="table table-bordered">
  <tr>
    <td rowspan="7" colspan="5" style="width:0%">
   <img src='assets/images/profile.png' height="250px" width="250px">
    </td>
  </tr>
  <tr>
    <th colspan="4"  style="background-color: rgb(216, 216, 216);">
     Personal Details
    </th>
  </tr>
  <tr>
    <td>
  <b>Name: </b>
    </td>
    <td>
      {{currentUser.bio.fname+" "+currentUser.bio.lname}}
    </td>
    <td>
      <b>Age: </b>
    </td>
    <td>
      {{currentUser.bio.age}}
    </td>
  </tr>
  <tr>
    <td>
      <b>Phone: </b>
    </td>
    <td>
      {{currentUser.bio.phone}}
    </td>
    <td>
     <b>Email: </b>
    </td>
    <td>
      {{currentUser.bio.email}}
    </td>
  </tr>
  <tr>
    <th colspan="4" style="background-color: rgb(216, 216, 216);">
         Address:
    </th>
  </tr>
  <tr>
    <td>
      <b>City: </b>
    </td>
    <td>
      {{currentUser.address.city}}
    </td>
    <td>
      <b>State: </b>
    </td>
    <td>
      {{currentUser.address.state}}
    </td>
  </tr>
  <tr>
    <td>
      <b>PinCode: </b>
    </td>
    <td>
      {{currentUser.address.pincode}}
    </td>
    <td></td><td></td>
  </tr>
</table>
</div>
<br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br><br>
